@import "./../../../styles/variables.scss";

  
.btn_filter{
    &.active{
        color: $textColor;
        // color: $textColor; 
        text-decoration: underline;
    }
    &:hover{
        color: $textColor;
    }}