@import "./../../../styles/variables.scss";

  
.btn_filter{
    border-radius: 10px;
    transition: all .3s ;

    &.active{
        background-color: $textColor;
        color:$white;
    }
    @include breakpoint(md){
        &:hover{
            background-color: $textColor;
            color:$white;
        }
    }
    
}