@import "./../../styles/variables.scss";
.product_btn{
    font-family: inherit;
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
    border:none;
    cursor: pointer;
    transition: all .3s ;
}
.act_btn{
    margin-top: $mt;
    margin-bottom:$mt;
    border-radius: $borderRadius;
    background-color:lighten($headerColor, 20%);
    color: $white;
    padding:12px 0;
    width: 100%;
    &:hover{
        background-color:$headerColor;
    }
    

}
.grid_btn{
    padding:4px 6px;
    font-size: 14px;
    border-bottom: 1px solid transparent;
    font-weight: 600;
    color:$black;
    
}
.filter_btn{
    padding: 4px 6px;
    transition: none;
}
.count_btn{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border:1px solid $textColor;
    font-size: 24px;
    font-weight: 400;
    color: $textColor;
    @include d-flex(center,center);
    &:hover{
        background-color: $textColor;
        color: $white;
    }
}

.page_btn{
    border: 1px solid #000;
    border-radius: $borderRadius;
    padding:4px 8px;
    color: #333;
    &:hover{
        border-color: $textColor;
        
    }
}