@import "./../../styles/variables.scss";
.product_card{
    border:1px solid $borderColor;
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    border-radius: $borderRadius;
    transition: all .3s linear;
    &.flex_row{
        
        @include d-flex(center, flex-start);
        &:hover{
            box-shadow: none;
            border-color: $borderColor;
        }
        .product_card__img_area{
            margin: 0;
        }
        .cart_btn{
            flex: 1;
        }
        .product_card__details{
            flex-direction: column;
            &__price{
                margin-top: 12px;
            }
        }
    }
    &__img_area{
        width: 200px;
        height: 224px;
        margin: 0 auto;
        @include d-flex(center,center); 

        &__img{
            height: 100%;
            object-fit:cover;
            display: block;
        }
    }
    &__details{
        margin-top: $mt;
        @include d-flex(center,space-between);
        padding-left: 12px;
        padding-right: 12px;
        &__info{
            
            &__product_name{
                font-size: 15px;
                font-weight: 700;
                color: $textColor;
            }
            &__product_title{
                margin-top:4px;
                font-size: 13px;
                span{
                    color:$black;
                    font-weight: 700;
                }
            }
        }
        &__price{
            @include d-flex(flex-start,center); 
            flex-direction:column;
            span{
                font-size: 16px;
                display: inline-block;
            }
            &__old_price{
                text-decoration: line-through;
                color:lighten($black, 50%);
                font-weight: 500;
            }
            &__first_area{
                color:lighten($black, 30%);
                font-weight: 600;
                margin-top:4px;
                &__percent{
                    margin-left: 6px;
                    color: crimson;
                    border:1px solid crimson;
                    padding: 2px;
                }
            }

        }
        

    }
   
    &:hover{
        box-shadow:$boxShadow;
        border-color: transparent;
       
    }
    .piece_area{
        position: absolute;
        top:20px;
        right:54px;
        font-size: 16px;
        color: $textColor;
        span{
            color: $black;
            font-size: 14px;
        }
        &.sum_price{
            top: auto;
            bottom: 20px;
        }
    }
}
