@import "./reset.scss";
@import "./variables.scss";

body {
  width: 100%;
  font-family: $lato;
  background-color:$white;
  height: 100%;
 
}
#root {
  height: 100%;
}
.container{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}
