@import "./../styles/variables.scss";

.page{
height: 100px;
@include d-flex(center, center);

&__title{
    font-size: 36px;
    padding: 10px;
    border-radius: 20px;
    background-color: $firstColor;
    
}
}
.home_body{
    @include d-flex(flex-start, center);
    max-width: 1660px;
    width: 100%;
    padding-bottom: 24px;
    .col_3{
        grid-template-columns: repeat(3, 1fr);
    }
    .col_4{
        grid-template-columns: repeat(4, 1fr);
    }
    .col_5{
        grid-template-columns: repeat(5, 1fr);
    }
    
}
.total_price{
    @include d-flex(center, flex-end);
    text-decoration: underline;
    margin-top: 12px;
    color: $textColor;
}
